*{
    margin: 0;
    padding: 0%;

}
body{ margin: 0;
    padding: 0%;

    background-image: url(hvpm.jpg);
    background-size: cover;


}

div.main{
     width: 400px;
     margin: 100px auto 0px auto;
}
h2 {
text-align: center;
padding: 20px;
font-family: sans-serif;
}
div.Registration{
 background-color: rgba(0,0,0,0.5);
 width: 100%; font-size: 18px;
 border-radius: 10px;
border: 1px soid rgba (255, 255,255,0);
box-shadow: 2px 2px 15px
rgba(0,0,0,0.3); 
color:#fff;
}